/* CustomCarousel.css */
.carousel-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd; /* Optional: for visual reference */
    font-size: 20px;
}

.carousel-card {
  padding: 20px;
}


.tooltip {
  position: relative;
  display: inline-flex; /* Changed to inline-flex for better alignment */
  align-items: center; /* Centers the question mark vertically */
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px; /* Increased width */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px; /* Adjusted for the new width */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}