@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

.indicator {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ff00ff;
  animation: glow 1s infinite alternate; /* Add a glow animation */
  filter: drop-shadow(0 0 10px #ff00ff); /* Add a fluorescent drop shadow */
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px #ff00ff);
    opacity: 1;
  }
  to {
    filter: drop-shadow(0 0 20px #ff00ff);
    opacity: 0.8;
  }
}


#priceInput {
  /* Remove border and background */
  border: none;
  background: none;

  /* Remove interactivity styles */
  cursor: default;
  user-select: none;

  outline: none;
}


:root {
  font-family: Avenir, 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: white;

  color-scheme: light dark;
  background-color: #242424;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

/*add min height calculation for mobile */

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Update the CSS styles for the triangle */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid white; /* Update this to be bigger */
  margin-right: 10px;
  transform-origin: center;
  transition: transform 0.3s;
}

.open {
  transform: rotate(90deg);
}

/* CSS for the glowing effect */
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #6EE7B7;
  }
  50% {
    box-shadow: 0 0 20px #6EE7B7;
  }
  100% {
    box-shadow: 0 0 5px #6EE7B7;
  }
}

/* CSS for the fading in and out animation */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

/* CSS for the sliding in and out animation */
@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
